Repository cloudposse-terraform-components/aws-eks-karpenter-node-pool, pull requests merged in 2025-06, with the labels that each got.

#30 Enable merge queue
  .github/settings.yml
Labels: auto-update, no-release, migration

#31 Enable merge queue
  .github/settings.yml
Labels: auto-update, no-release, migration

#33 chore(deps): restrict helm provider version to ~ 2.0.0
  src/versions.tf
Labels: needs-test

#36 Karpenter V1 API Support
  src/README.md
  src/context.tf
  src/ec2-node-class.tf
  src/main.tf
  src/variables.tf
  test/component_test.go
  test/fixtures/stacks/catalog/eks-karpenter-controller.yaml
  test/fixtures/stacks/catalog/usecase/basic.yaml
  test/fixtures/stacks/catalog/usecase/disabled.yaml
  test/fixtures/vendor.yaml
Labels: major, needs-test
